@media only screen and (max-width:703px) {

#navbar {
    flex-direction: column;
}

#search {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#navbar ul li a {
    padding: 0px 15px;
}

#navbar ul {
    margin-left: -50px;
}

#middle1{
    flex-direction: column;
    padding-top: 180px;
}

#middle p {
    padding-top: 70px;
}

#middle h3 {
    padding-top: 20px;
}

.item{
    flex-direction: column;
}


.bg h1{
    font-size: 40px;
    
}
#midimg{
    padding-left: 0px;
    padding-right: 0px;
}

}